.cover__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
  margin-top: 2rem;
}

.card {
  width: 100%;
  max-height: 12rem;
  border: none;
  border-radius: 5px;
  padding: 1em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  cursor: pointer;
}

.card ul li{
  font-size: 1.4rem;
}
.card .icon{
  display: block;
  background-color: #56C1FE;
  height: 5rem;
  width: 5rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2.5rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card li {
  font-size: 1.2rem;
}

.card_new {
  width: 200px;
  height: 200px;
  flex-direction: column;
  text-align: left;
  font-size: 1.4rem;
  align-items: flex-start;
}

.card_header {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.card_header p{
  font-size:  1.4rem;
}

.card_header button {
  background-color: transparent;
}


.chair{
  margin-top: .5rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .8);
}