.open_modal {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;
}

.close_modal {
  display: none;
}

.container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  background-color: #fff;
  min-width: 288px;
  width: 800px;
  height: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.header_cover_form {
  display: flex;
  justify-content: space-between;
}

.header_cover_form img {
  height: 2rem;
}

.header_cover_form button {
  background-color: var(--black);
  color: #fff;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.data_fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.description_form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.description_form textarea {
  border: 1px solid rgba(0, 0, 0, 0.07);
  height: 19rem;
  padding: 1rem;
  width: 96%;
}
