.screen {
  margin-left: 17rem;
  width: calc(100vw - 20rem);
  display: flex;
  flex-direction: column;
}

.screen h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.form {
  background-color: #fff;
  min-width: 288px;
  width: 800px;
  height: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.form img {
  margin: 1rem auto;
  height: 2rem;
}

.data_fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.description_form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.description_form textarea {
  border: 1px solid rgba(0, 0, 0, 0.07);
  height: 19rem;
  padding: 1rem;
}
