.screen {
  margin-left: 17rem;
  width: calc(100vw - 20rem);
}

.settings {
  max-height: calc(100vh - 5rem);
  position: relative;
  margin: 0 auto;
  overflow-y: scroll;
  display: block;
  scrollbar-color: var(--black) #ccd;
  scrollbar-width: 20px;
  overflow-y: auto;
}

.settings::-webkit-scrollbar {
  width: 12px;
  display: block;
}
.settings::-webkit-scrollbar-track {
  display: block;
  background-color: #ccd;
  border-radius: 8px;
}
.settings::-webkit-scrollbar-thumb {
  display: block;
  border: 3px solid #ccd;
  border-radius: 8px;
  margin: 8px;
  background-color: var(--black);
}

.header_setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header_setting button {
  background-color: var(--black);
  color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
}

.setting_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.setting_grid > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: inline-block;
  height: auto;
}

.card > div input[type="checkbox"] {
  width: 10%;
}

.card > div select {
  width: 90%;
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  background-color: #fff;
  margin-top: 0;
  outline: none;
}

.card_title {
  font-weight: 600;
  color: #333;
}

.colums_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card_columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card_columns div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
}

.card-columns div label {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card_logo {
  height: 32rem;
}

.image_container_add {
  border-radius: 0.5rem;
  margin-top: 2rem;
  height: 250px;
  width: 350px;
  object-fit: cover;
}
