.container_forgot_password_admin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_password_screen {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.forgot_password_screen input {
  width: 40rem;
}

.header_forgot {
  display: flex;
  flex-direction: column;
}

.header_forgot img {
  height: 2rem;
  margin-bottom: 2rem;
}
