.container{
    height: 95vh;
    display: grid;
    place-items: center;
}

.form{
    background-color: #fff;
    min-width: 288px;
    width: 820px;
    height: 820px;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.form img{
    margin: 1rem auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
}

.signin_options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.signin_options label{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.signin_options {
    font-size: 1.3rem;
}

.button{
    background-color: #111111;
}

.copy{
    font-size: 1.2rem;
    color: #ccc;
    display: block;
    margin-top: 2.5rem;
}