.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.header_image_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  min-width: 288px;
  width: 58rem;
  height: 800px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.signin_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.signin_options label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.signin_options {
  font-size: 1.3rem;
}

.button {
  background-color: #111111;
}

.copy {
  font-size: 1.2rem;
  color: #ccc;
  display: block;
  margin-top: 2.5rem;
}

.cnt_upload_view {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.grid {
  position: relative;
}

.pass {
  cursor: pointer;
  position: absolute;
  right: 35rem;
  top: 108%;
  transform: translateY(-150%);
}
.passconfirm {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 108%;
  transform: translateY(-150%);
}

.terms {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.terms .acceptTerms {
  background-color: brown;
  width: 2rem;
}

.terms label {
  font-size: 1.4rem;
}

.terms .sec_terms button {
  background-color: transparent;
}
