.screen {
  margin-left: 17rem;
  width: calc(100vw - 20rem);
}

.center__screen {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.screen_header_principal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.01);
  height: 5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  gap: 2rem;
}

.screen_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.screen_title h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

.screen_title button {
  background-color: var(--black);
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.Link_create {
  background-color: var(--black);
  color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

.container_card_cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: calc(100vw - 20rem);
}

.box {
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  padding: 1em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:first-child {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.box:last-child {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.box h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.box p {
  font-weight: 300;
  font-size: 1.4rem;
}
