.screen {
  margin-left: 17rem;
}

.settings {
  max-height: calc(100vh - 5rem);
  position: relative;
  margin: 0 auto;
  overflow-y: scroll;
  display: block;
  scrollbar-color: var(--black) #ccd;
  scrollbar-width: 20px;
  overflow-y: auto;
  padding-bottom: 4rem;
  min-width: 100%;
}

.settings::-webkit-scrollbar {
  width: 10px;
  display: block;
}
.settings::-webkit-scrollbar-track {
  display: block;
  background-color: #ccd;
  border-radius: 4px;
}
.settings::-webkit-scrollbar-thumb {
  display: block;
  border: 3px solid #ccd;
  border-radius: 4px;
  margin: 4px;
  background-color: var(--black);
}

.header_setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header_setting button {
  background-color: var(--black);
  color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
}

.setting_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.setting_grid > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: inline-block;
  height: auto;
}

.card > div select {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  background-color: #fff;
  margin-top: 0;
  outline: none;
}

.card_title {
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.colums_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #fff;
  padding: 0 2rem 2rem 2rem;
  margin-top: 2rem;
}

.select_disk {
  display: flex;
  flex-direction: column;
}

.width_input {
  margin-top: 2rem;
  margin-bottom: -3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  padding: 0 2rem 2rem 2rem;
}

.image_input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image_input_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.container_input_image_upload {
  background-color: #fff;
}
